<div>
  <div class="container">
    <main>
      <div class="py-5 text-center">
        <h2>Elementos</h2>
        <p class="">Estos son todos los elementos disponibles</p>
      </div>
      <div class="row g-5">
        <div class="col-md-2 col-lg-3"></div>
        <div class="col-md-8 col-lg-6">
          <div class="list-group">
            <a href="#" id="item" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1" id="firstName"></h5>
                <small class="text-muted" id="created"></small>
              </div>
              <p class="mb-1" id="lastName"></p>
              <small class="text-muted" id="email"></small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>